.review-item {
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    width: 571px;
    display: flex;
}

.review-item img {
    width: 91px;
    border-radius: 6px;
}

.review-item-details-container {
    padding-left: 17px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.review-item-details p {
    margin: 0;
}

.review-item .delete-container {
    display: flex;
    align-items: center;
}

.review-item .delete-button {
    background: rgba(235, 87, 87, 0.3);
    border: 0;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
}

.delete-icon {
    color: #EB5757;
    font-size: 27px;
}